@import "~@shoelace-style/shoelace/dist/themes/light.css";
@import "~@shoelace-style/shoelace/dist/themes/dark.css";

.block-primary {
  color: var(--sl-color-neutral-100);
  background-color: var(--sl-color-primary-600);
}
.block-success {
  color: var(--sl-color-neutral-100);
  background-color: var(--sl-color-success-600);
}
.warning,
div.block-warning {
  color: var(--sl-color-neutral-100);
  background-color: var(--sl-color-warning-600);
}
.block-danger {
  color: var(--sl-color-neutral-100);
  background-color: var(--sl-color-danger-600);
}
.block-neutral {
  color: var(--sl-color-neutral-50);
  background-color: var(--sl-color-neutral-600);
}
.block-light {
  color: var(--sl-color-neutral-900);
  background-color: var(--sl-color-neutral-50);
}
.block-dark {
  color: var(--sl-color-neutral-100);
  background-color: var(--sl-color-primary-950);
}
.block-secondary {
  color: var(--sl-color-neutral-100);
  background-color: var(--sl-color-teal-600);
}
.block-tertiary {
  color: var(--sl-color-neutral-100);
  background-color: var(--sl-color-purple-600);
}

.text-primary {
  color: var(--sl-color-primary-600);
}
.text-success {
  color: var(--sl-color-success-600);
}
.text-warning {
  color: var(--sl-color-warning-600);
}
.text-danger {
  color: var(--sl-color-danger-600);
}
.text-neutral {
  color: var(--sl-color-neutral-600);
}
.text-light {
  color: var(--sl-color-neutral-100);
}
.text-dark {
  color: var(--sl-color-neutral-900);
}
.text-secondary {
  color: var(--sl-color-teal-600);
}
.text-tertiary {
  color: var(--sl-color-purple-600);
}

/* GLOBAL CONTAINER (shoelace token version) */
.container-xxxs {
  margin: var(--sl-spacing-3x-small);
}
.container-xxs {
  margin: var(--sl-spacing-2x-small);
}
.container-xs {
  margin: var(--sl-spacing-x-small);
}
.container-s {
  margin: var(--sl-spacing-small);
}
.container,
.container-m {
  margin: var(--sl-spacing-medium);
}
.container-l {
  margin: var(--sl-spacing-large);
}
.container-xl {
  margin: var(--sl-spacing-x-large);
}
.container-2xl {
  margin: var(--sl-spacing-2x-large);
}
.container-3xl {
  margin: var(--sl-spacing-3x-large);
}
.container-4xl {
  margin: var(--sl-spacing-4x-large);
}

sl-card {
  max-width: 600px;

  &.card-common [slot="footer"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.sl-text-center {
  text-align: center !important;
}

sl-breadcrumb {
  position: fixed;
  top: 0;
  z-index: var(--sl-z-index-tooltip);
  width: 100%;
  padding: var(--sl-spacing-x-small);
  background-color: var(--sl-color-primary-100);
  border-radius: 0;
  -moz-box-shadow: 0 2px hsla(240, 4%, 46%, 0.12);
  -moz-box-shadow: 0px var(--sl-shadow-x-large) var(--sl-color-neutral-900);
  -webkit-box-shadow: 0 2px hsla(240, 4%, 46%, 0.12);
}

sl-menu {
  border: none;
}

sl-menu-item {
  border: var(--border-width) solid;
  border-color: var(--sl-color-neutral-200);
  border-radius: var(--sl-border-radius-small);
}

sl-carousel {
  max-width: 600px;
  margin: var(--sl-spacing-4x-large) auto;
}

sl-dialog {
  --sl-panel-background-color: var(--sl-color-primary-100);
  font-size: var(--sl-font-size-large);

  color: var(--sl-color-yellow-600);
}
