@import '~@shoelace-style/shoelace/dist/themes/light.css';
@import '~@shoelace-style/shoelace/dist/themes/dark.css';

.block-primary {
  background-color: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-100);
}
.block-success {
  background-color: var(--sl-color-success-600);
  color: var(--sl-color-neutral-100);
}
.warning,
div.block-warning {
  background-color: var(--sl-color-warning-600);
  color: var(--sl-color-neutral-100);
}
.block-danger {
  background-color: var(--sl-color-danger-600);
  color: var(--sl-color-neutral-100);
}
.block-neutral {
  background-color: var(--sl-color-neutral-600);
  color: var(--sl-color-neutral-50);
}
.block-light {
  background-color: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-900);
}
.block-dark {
  background-color: var(--sl-color-primary-950);
  color: var(--sl-color-neutral-100);
}
.block-secondary {
  background-color: var(--sl-color-teal-600);
  color: var(--sl-color-neutral-100);
}
.block-tertiary {
  background-color: var(--sl-color-purple-600);
  color: var(--sl-color-neutral-100);
}

.text-primary {
  color: var(--sl-color-primary-600);
}
.text-success {
  color: var(--sl-color-success-600);
}
.text-warning {
  color: var(--sl-color-warning-600);
}
.text-danger {
  color: var(--sl-color-danger-600);
}
.text-neutral {
  color: var(--sl-color-neutral-600);
}
.text-light {
  color: var(--sl-color-neutral-100);
}
.text-dark {
  color: var(--sl-color-neutral-900);
}
.text-secondary {
  color: var(--sl-color-teal-600);
}
.text-tertiary {
  color: var(--sl-color-purple-600);
}

/* GLOBAL CONTAINER (shoelace token version) */
.container-xxxs {
  margin: var(--sl-spacing-3x-small);
}
.container-xxs {
  margin: var(--sl-spacing-2x-small);
}
.container-xs {
  margin: var(--sl-spacing-x-small);
}
.container-s {
  margin: var(--sl-spacing-small);
}
.container,
.container-m {
  margin: var(--sl-spacing-medium);
}
.container-l {
  margin: var(--sl-spacing-large);
}
.container-xl {
  margin: var(--sl-spacing-x-large);
}
.container-2xl {
  margin: var(--sl-spacing-2x-large);
}
.container-3xl {
  margin: var(--sl-spacing-3x-large);
}
.container-4xl {
  margin: var(--sl-spacing-4x-large);
}

sl-card {
  max-width: 600px;

  &.card-common [slot='footer'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sl-text-center {
  text-align: center !important;
}

sl-breadcrumb {
  position: fixed;
  top: 0;
  width: 99%;
  background-color: var(--sl-color-primary-100);
  padding: var(--sl-spacing-2x-small);
  margin-bottom: var(--sl-spacing-3x-large);
  z-index: var(--sl-z-index-tooltip);
  box-shadow: var(--sl-shadow-medium);
  -webkit-box-shadow: var(--sl-shadow-medium);
  -moz-box-shadow: var(--sl-shadow-medium);
  border-radius: var(--sl-border-radius-small);
}

sl-menu {
  border: none;
}

sl-menu-item {
  border: var(--border-width) solid;
  border-color: var(--sl-color-neutral-200);
  border-radius: var(--sl-border-radius-small);
}

sl-carousel {
  margin: var(--sl-spacing-4x-large) auto;
  max-width: 600px;
}

sl-dialog {
  --sl-panel-background-color: var(--sl-color-primary-100);

  color: var(--sl-color-yellow-600);
  font-size: var(--sl-font-size-large);
}
