@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex w-full justify-center items-center;
  }
}

h1 {
  @apply text-2xl my-2;
}
h2 {
  @apply text-xl my-2;
}

table {
  margin-right: auto;
  margin-left: auto;
  @apply border-collapse align-middle items-center text-center w-full 2xl:w-fit;
}

th {
  border-color: var(--sl-color-neutral-300);
  @apply border min-w-10;
}
td {
  border-color: var(--sl-color-neutral-200);
  @apply border min-w-10;
}
