/* TRANSITION IONIC TO SHOELACE HELPER */
.primary {
  color: var(--sl-color-primary-500);
}
.success {
  color: var(--sl-color-success-500);
}
.warning {
  color: var(--sl-color-warning-500);
}
.danger {
  color: var(--sl-color-danger-500);
}
.neutral {
  color: var(--sl-color-neutral-500);
}
.light {
  color: var(--sl-color-neutral-900);
}
.dark {
  color: var(--sl-color-neutral-50);
}
// NOT IN SHOELACE SCOPE
.secondary {
  color: var(--ion-color-secondary);
}
.tertiary {
  color: var(--ion-color-tertiary);
}
.medium {
  color: var(--ion-color-medium);
}

div.grid-300 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: var(--sl-spacing-medium);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  & > * {
    display: block;
  }
}

.text-align-center {
  text-align: center;
}

.can-be-clicked {
  &:hover {
    cursor: pointer;
  }

  border-color: var(--sl-color-blue-100);
  border-style: dashed;
  border-width: 0.5px;
}
