html {
  font-family: var(--sl-font-sans);
}

div.grid-300 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--sl-spacing-medium);
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;

  & > * {
    display: block;
  }
}

.can-be-clicked {
  border-color: var(--sl-color-blue-100);
  border-style: dashed;
  border-width: 0.5px;
  &:hover {
    cursor: pointer;
  }
}

div.page-content {
  max-width: 1280px;
  padding: var(--sl-spacing-small);
  margin: var(--sl-spacing-3x-large) auto;
  color: var(--sl-color-primary-900);
  text-align: center;
  background-color: var(--sl-color-neutral-100);
  border-color: var(--sl-color-neutral-300);
  border-radius: var(--sl-border-radius-large);
  -moz-box-shadow: var(--sl-shadow-medium);
  -webkit-box-shadow: var(--sl-shadow-medium);
  box-shadow: var(--sl-shadow-medium);
}

div.footer {
  margin: var(--sl-spacing-3x-large) 0px;
}

.border-sky {
  border-color: var(--sl-color-sky-200);
}
