div.page-match-grid > div.page-match-grid-header {
  border: solid 1px var(--sl-color-primary-100);
  background-color: var(--sl-color-primary-100);
}

div.page-match-grid > div {
  border: solid 1px var(--sl-color-primary-100);
}

div.light-border {
  border: solid 1px var(--sl-color-neutral-200);
}
