ion-grid.page-match-grid > ion-row > ion-col {
  text-align: center;
}

ion-grid.page-match-grid > ion-row.page-match-grid-header {
  border: solid 1px var(--sl-color-primary-100);
  background-color: var(--sl-color-primary-100);
}

ion-grid.page-match-grid > ion-row {
  border: solid 1px var(--sl-color-primary-100);
}

ion-grid.grid-edit-tournament-name > ion-row > ion-col {
  text-align: center;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: var(--sl-color-primary-200);
}

div.light-border {
  border: solid 1px var(--sl-color-neutral-200);
}
