@media screen and (max-width: 920px) {
  ion-img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 921px) {
  ion-img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}
