span.counter {
  color: var(--ion-color-primary);
}

ion-grid.default-grid > ion-row > ion-col {
  text-align: center;
}

ion-grid.default-grid > ion-row.default-grid-header {
  border: solid 1px var(--ion-color-light);
  background-color: var(--ion-color-light);
}

ion-grid.default-grid > ion-row {
  border: solid 1px var(--ion-color-light);
}
